@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "DINPro", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "DINPro", sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
  overflow-x: hidden;
}

.hero {
  background-color: #DBE8FF;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -200px;
  bottom: 0;
  width: 632px;
  height: 285px;
  background-image: url(../img/hero-bg-mobile.jpg);
}

.hero__inner {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.hero__logo {
  margin-bottom: 35px;
  display: block;
}

.hero__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  font-family: "DINPro-CondensedLight", sans-serif;
  margin: 0 0 40px;
}

.hero__title span,
.hero__title strong {
  display: block;
}

.hero__title span {
  font-family: "DINPro-CondensedRegular", sans-serif;
  font-weight: 400;
}

.hero__title strong {
  font-family: "DINPro-CondensedMedium", sans-serif;
  font-weight: 500;
}

.hero__arrow {
  display: inline-block;
  width: 16px;
  height: 35px;
  background-image: url(../img/hero-arrow.png);
  background-size: cover;
}

h2 {
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  margin: 0 0 20px;
  font-family: "DINPro-CondensedMedium", sans-serif;
  font-weight: 500;
}

.products {
  padding: 40px 0;
}

.products__list {
  margin-bottom: -20px;
}

.products__item {
  margin-bottom: 20px;
}

.card {
  border: 2px solid #000;
  padding: 25px;
  position: relative;
  min-height: 280px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  display: block;
}

.card::after, .card::before {
  content: '';
  position: absolute;
}

.card::after {
  z-index: -1;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#DBE8FF), to(#F5D9FF));
  background: -o-linear-gradient(left, #DBE8FF 0%, #F5D9FF 100%);
  background: linear-gradient(90deg, #DBE8FF 0%, #F5D9FF 100%);
}

.card:hover {
  -webkit-box-shadow: 0 0 55px 15px rgba(245, 217, 255, 0.7);
  box-shadow: 0 0 55px 15px rgba(245, 217, 255, 0.7);
}

.card__logo {
  max-height: 40px;
  max-width: 120px;
  position: relative;
  z-index: 1;
}

.card__caption {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
}

.card--1::before {
  width: 190px;
  height: 138px;
  background-image: url(../img/card-bg-1.png);
  background-size: cover;
  top: 72px;
  right: 24px;
}

.card--2::after {
  background-image: url(../img/card-bg-2-mobile.png);
  background-repeat: no-repeat;
}

.card--3::before {
  width: 128px;
  height: 135px;
  background-image: url(../img/card-bg-3.png);
  background-size: cover;
  top: 78px;
  right: 36px;
}

.card--4::before {
  width: 268px;
  height: 268px;
  background-image: url(../img/card-bg-4-mobile.png);
  background-size: cover;
  bottom: 6px;
  right: 6px;
}

.video {
  background: -webkit-gradient(linear, left top, right top, from(#DBE8FF), to(#F5D9FF)), #DBE8FF;
  background: -o-linear-gradient(left, #DBE8FF 0%, #F5D9FF 100%), #DBE8FF;
  background: linear-gradient(90deg, #DBE8FF 0%, #F5D9FF 100%), #DBE8FF;
  padding: 40px 0;
}

.player {
  position: relative;
  padding-bottom: 50%;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 0 0 6px #000;
  box-shadow: inset 0 0 0 6px #000;
}

.player.playing .player__play,
.player.playing .player__sign,
.player.playing .player__poster {
  display: none;
}

.player__poster {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/video-poster-mobile.jpg);
  background-size: cover;
  opacity: 0.5;
}

.player__poster::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/poster-fade.png);
  background-size: cover;
  width: 59%;
  bottom: 0;
}

.player__play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  background-image: url(../img/play.png);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.player__play:hover, .player__play:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.player__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player__sign {
  display: none;
}

.callback {
  padding: 40px 0;
  background-image: url(../img/callback-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.callback__title {
  color: #fff;
}

.form.disabled .form__group,
.form.disabled .form__submit {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.3;
}

.form__field {
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  font-style: italic;
  height: 55px;
  padding: 0 20px;
  width: 100%;
  border: none;
}

.form__group {
  margin-bottom: 20px;
  position: relative;
}

.form__group--checkbox {
  padding-left: 40px;
}

.form__group--checkbox .form__label {
  cursor: pointer;
}

.form__group--checkbox .form__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
}

.form__checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.form__label {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-style: italic;
}

.form__checkbox:checked + .form__label::before {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__submit {
  font-weight: 500;
  font-family: "DINPro-CondensedMedium", sans-serif;
  font-size: 23px;
  line-height: 27px;
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #fff;
  color: #000;
}

.form__result {
  margin: 20px 0 0;
  color: #fff;
  text-align: center;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.form__result.success {
  background-color: rgba(19, 255, 48, 0.5);
  visibility: visible;
  opacity: 1;
}

.form__result.error {
  background-color: rgba(255, 41, 19, 0.5);
  visibility: visible;
  opacity: 1;
}

.footer {
  padding: 40px 0;
  font-size: 16px;
  font-family: "DINPro-CondensedRegular", sans-serif;
  line-height: 20px;
}

.footer__contacts {
  margin-bottom: 40px;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: none;
}

.contacts {
  text-align: center;
}

.contacts img {
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.contacts__part + .contacts__part {
  margin-top: 20px;
}

.copy {
  color: #808080;
  text-align: justify;
}

.copy__part {
  margin: 0;
}

.copy__part + .copy__part {
  margin-top: 20px;
}

/* Mobile-first */
@media only screen and (min-width: 768px) {
  .hero::after {
    left: auto;
    margin-left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 991px) {
  .container {
    max-width: 1230px;
  }
  .hero {
    padding: 30px 0;
  }
  .hero::after {
    width: 1462px;
    height: 659px;
    background-image: url(../img/hero-bg.jpg);
    right: auto;
    left: 50%;
    margin-left: -450px;
  }
  .hero__logo {
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: 100px;
    line-height: 85px;
    margin-bottom: 70px;
  }
  .hero__arrow {
    height: 52px;
    width: 24px;
  }
  h2 {
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 40px;
  }
  .products {
    padding: 60px 0 100px;
  }
  .products::after {
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
  }
  .products__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -40px;
    margin-bottom: -40px;
  }
  .products__item {
    width: -webkit-calc(50% - 40px);
    width: calc(50% - 40px);
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .card {
    border-width: 3px;
    padding: 40px 40px 50px;
    min-height: 300px;
  }
  .card__logo {
    max-width: 200px;
    max-height: 60px;
  }
  .card__caption {
    max-width: 300px;
    font-size: 30px;
    line-height: 1;
    left: 40px;
    bottom: 50px;
  }
  .card--1::before {
    width: 318px;
    height: 231px;
    top: 30px;
    right: 25px;
  }
  .card--1 .card__logo,
  .card--1 .card__caption {
    max-width: 190px;
  }
  .card--2::after {
    background-image: url(../img/card-bg-2.jpg);
  }
  .card--2 .card__logo,
  .card--2 .card__caption {
    max-width: 190px;
  }
  .card--3::before {
    width: 198px;
    height: 217px;
    top: 40px;
    right: 70px;
  }
  .card--3 .card__logo {
    max-width: 160px;
  }
  .card--3 .card__caption {
    max-width: 230px;
  }
  .card--4::before {
    background-image: url(../img/card-bg-4.png);
    bottom: 6px;
    top: auto;
    right: 6px;
    width: 349px;
    height: -webkit-calc(100% - 12px);
    height: calc(100% - 12px);
  }
  .video {
    padding: 100px 0;
  }
  .player__play {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
  .player__sign {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -webkit-calc(50% + 80px);
    left: calc(50% + 80px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding-right: 60px;
    font-size: 17px;
    line-height: 1.2;
    font-style: italic;
  }
  .player__sign strong {
    font-weight: 400;
    font-size: 30px;
    display: block;
    margin-bottom: 6px;
  }
  .callback {
    padding: 100px 0;
  }
  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .form__group {
    margin-bottom: 40px;
    min-width: 22%;
  }
  .form__group--checkbox {
    width: 100%;
    padding-left: 0;
  }
  .form__group--checkbox .form__label {
    text-align: center;
    display: table;
    margin: 0 auto;
  }
  .form__group--checkbox .form__label::before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .form__checkbox {
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .form__submit {
    max-width: 270px;
    margin: 0 auto;
  }
  .form__result {
    width: 100%;
  }
  .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 26px;
  }
  .contacts__part {
    text-align: left;
    max-width: 22%;
  }
  .contacts__part + .contacts__part {
    margin: 0;
  }
  .copy {
    font-size: 20px;
    line-height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .copy__part {
    max-width: 48%;
  }
  .copy__part + .copy__part {
    margin: 0;
  }
}

@media only screen and (min-width: 2000px) {
  .hero::after {
    left: auto;
    margin-left: 0;
    right: 0;
  }
}
