@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "DINPro", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "DINPro", sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
  overflow-x: hidden;
}

.hero {
  background-color: #DBE8FF;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -200px;
  bottom: 0;
  width: 632px;
  height: 285px;
  background-image: url(../img/hero-bg.jpg);
}

.hero__inner {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.hero__logo {
  margin-bottom: 35px;
  display: block;
}

.hero__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  font-family: "DINPro-CondensedLight", sans-serif;
  margin: 0 0 40px;
}

.hero__title span,
.hero__title strong {
  display: block;
}

.hero__title span {
  font-family: "DINPro-CondensedRegular", sans-serif;
  font-weight: 400;
}

.hero__title strong {
  font-family: "DINPro-CondensedMedium", sans-serif;
  font-weight: 500;
}

.hero__arrow {
  display: inline-block;
  width: 16px;
  height: 31px;
  background-image: url(../img/hero-arrow.png);
}

h2 {
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  margin: 0 0 20px;
  font-family: "DINPro-CondensedMedium", sans-serif;
  font-weight: 500;
}

.products {
  padding: 40px 0;
}

.products__list {
  margin-bottom: -20px;
}

.products__item {
  margin-bottom: 20px;
}

.card {
  border: 2px solid #000;
  padding: 25px;
  position: relative;
  min-height: 280px;
}

.card::after, .card::before {
  content: '';
  position: absolute;
}

.card::after {
  z-index: -1;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#DBE8FF), to(#F5D9FF));
  background: -o-linear-gradient(left, #DBE8FF 0%, #F5D9FF 100%);
  background: linear-gradient(90deg, #DBE8FF 0%, #F5D9FF 100%);
}

.card__logo {
  max-height: 40px;
  max-width: 120px;
  position: relative;
  z-index: 1;
}

.card__caption {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
}

.card--1::before {
  width: 190px;
  height: 138px;
  background-image: url(../img/card-bg-1.png);
  background-size: cover;
  top: 72px;
  right: 24px;
}

.card--2::after {
  background-image: url(../img/card-bg-2-mobile.png);
  background-repeat: no-repeat;
}

.card--3::before {
  width: 128px;
  height: 135px;
  background-image: url(../img/card-bg-3.png);
  background-size: cover;
  top: 78px;
  right: 36px;
}

.card--4::before {
  width: 268px;
  height: 268px;
  background-image: url(../img/card-bg-4-mobile.png);
  background-size: cover;
  bottom: 6px;
  right: 6px;
}

.video {
  background: -webkit-gradient(linear, left top, right top, from(#DBE8FF), to(#F5D9FF)), #DBE8FF;
  background: -o-linear-gradient(left, #DBE8FF 0%, #F5D9FF 100%), #DBE8FF;
  background: linear-gradient(90deg, #DBE8FF 0%, #F5D9FF 100%), #DBE8FF;
  padding: 40px 0;
}

.player {
  position: relative;
  padding-bottom: 50%;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 0 0 6px #000;
  box-shadow: inset 0 0 0 6px #000;
}

.player__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/video-poster-mobile.jpg);
  background-size: cover;
  opacity: 0.5;
}

.player__poster::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/poster-fade.png);
  background-size: cover;
  width: 60%;
  bottom: 0;
}

.player__play {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../img/play.png);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.player__play:hover, .player__play:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.player__sign {
  display: none;
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  /**/
}

/* Mobile-first */
@media only screen and (min-width: 992px) {
  /**/
}
