doctype html
html

	head
		meta(charset='utf-8')
		title Эстетическая и инъекционная косметология
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

	body
		.page
			section.hero
				.container
					.hero__inner
						picture
							source(srcset="img/logo-mobile.png", media="(max-width: 991px)")
							img.hero__logo(src="img/logo.png", alt="")
						h1.hero__title Эстетическая #[span и инъекционная] #[strong косметология]
						.hero__arrow
			section.products
				.container
					.products__inner
						h2.products__title Наши направления / торговые&nbsp;марки
						ul.products__list
							li.products__item.card.card--1
								img(src="img/logo-1.png", alt="").card__logo
								p.card__caption Филлеры для контурной пластики
							li.products__item.card.card--2
								img(src="img/logo-2.png", alt="").card__logo
								p.card__caption Мезотерапия и биоревитализация
							li.products__item.card.card--3
								img(src="img/logo-3.png", alt="").card__logo
								p.card__caption Распродажа для косметологов
							li.products__item.card.card--4
								img(src="img/logo-4.png", alt="").card__logo
								p.card__caption Японские проф. средства для волос
			section.video
				.container
					.video__inner
						h2.video__title Приветственное видео от генерального директора
						.video__player.player
							.player__poster
							button.player__play
							p.player__sign #[strong Фёдорова Анна] Генеральный директор группы компаний «Bon-L Group» 

			section.callback
				.container
					.callback__inner
						h2.callback__title Заполните заявку и мы отправим вам коммерческие условия сразу по всем продуктам компании 
						form(action="").callback__form.form
							.form__group
								input(type="text", name="city", placeholder="Город").form__field
							.form__group
								input(type="text", name="name", placeholder="Имя *", required).form__field
							.form__group
								input(type="tel", name="phone", placeholder="Телефон *", required).form__field
							.form__group
								input(type="email", name="email", placeholder="E-mail").form__field
							.form__group.form__group--checkbox
								input(type="checkbox", name="agree", checked, required).form__checkbox#agree
								label(for="agree").form__label Я даю согласие на обработку персональных данных
							button.form__submit Отправить
							p.form__result.error Успех

			footer.footer
				.container
					.footer__inner
						.footer__contacts.contacts
							.contacts__part
								picture
									source(srcset="img/logo-mobile.png", media="(max-width: 991px)")
									img(src="img/logo.png", alt="")
							.contacts__part г. Москва #[br]ул. Орджоникидзе, д. 11, стр. 11О, офис 805
							.contacts__part #[a(href="tel:+7 495 927 0 729") +7 495 927 0 729] / #[a(href="tel:+7 926 556 5498") +7 926 556 5498] #[br]Mail: #[a(href="mailto:info@bon-l.ru") info@bon-l.ru ]
							.contacts__part ИНН 7714914563 / ОГРН 1137746793271 #[br] #[a(href="") Политика конфиденциальности]
						.footer__copy.copy
							p.copy__part Copyright 2015, PMG - All Rights Reserved. ООО "ПРОФМЕДГРУПП" является официальным обладателем ТМ PMG GROUP. Обращаем ваше внимание, что вся информация, включая цены, предоставлена для ознакомления и не является публичной офертой (ст. 435 ГК РФ, cт. 437 ГК РФ). Для получения более детальных консультаций по услугам и их стоимости обращайтесь по указанным на сайте номерам телефонов. 
							p.copy__part Материалы, размещенные на данной странице (сайте), носят информационный характер и предназначены для образовательных целей. Посетители сайта не должны использовать их в качестве медицинских рекомендаций. Перед использованием необходимо получить консультацию специалиста по оказываемым услугам и возможным противопоказаниям.
		
		script(src="js/common.js")
